body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.hero {
    height: 400px;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dashboard-card {
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: scale(1.05);
}

html {
    scroll-behavior: smooth;
}

#produk,
#pesan {
    scroll-margin-top: 80px;
}